@page
<h1 style="color: forestgreen; font-weight: bold;">Welcome to our page! See what interests you.</h1>
<p>It's a simple page, but maybe you will like it'.</p>
<p>ASP.NET Core is what we are using. Now you're seeing it thanks to Azure'.</p>
<a href="/About" style="color: white; background: blue; padding: 10px 15px; text-decoration: none; border-radius: 5px;">See more!</a>
